@import url(./reset.css);
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap");
html, body, #root {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  background: #ecf2f8;
  font-family: 'Manrope', sans-serif; }

@media only screen and (min-device-width: 813px) and (min-width: 901px) {
  #root {
    display: flex;
    flex-flow: column;
    justify-content: center; }
  h4, p {
    line-height: 1.5em; }
  .app-container {
    display: flex;
    flex-flow: column;
    align-items: center; }
    .app-container .article-card-container {
      display: flex;
      flex-flow: row;
      width: 75%;
      max-height: 400px;
      max-width: 1000px; }
      .app-container .article-card-container .article-card-image {
        height: 100%;
        width: 100%;
        border-bottom-left-radius: 12px;
        border-top-left-radius: 12px; }
        .app-container .article-card-container .article-card-image img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-top-left-radius: 12px;
          border-bottom-left-radius: 12px;
          flex-shrink: 0; }
      .app-container .article-card-container .article-card-text-social-container {
        background: white;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        display: flex;
        flex-flow: column;
        justify-content: space-between; }
        .app-container .article-card-container .article-card-text-social-container .article-card-social-active-share {
          display: none;
          visibility: hidden; }
        .app-container .article-card-container .article-card-text-social-container .article-card-social-icons {
          display: none;
          visibility: hidden; }
        .app-container .article-card-container .article-card-text-social-container .article-card-text {
          display: flex;
          flex-flow: column;
          justify-content: space-evenly;
          padding: 2em 4em 1em 4em; }
          .app-container .article-card-container .article-card-text-social-container .article-card-text h4 {
            font-size: 1.5em;
            color: #48556a;
            margin-bottom: .5em; }
          .app-container .article-card-container .article-card-text-social-container .article-card-text p {
            color: #6d7f97;
            font-weight: 500; }
        .app-container .article-card-container .article-card-text-social-container .article-card-social {
          display: flex;
          flex-flow: row;
          align-items: center;
          padding: 1em 4em 2em 4em; }
          .app-container .article-card-container .article-card-text-social-container .article-card-social .article-card-social-img {
            height: 100%;
            width: auto; }
            .app-container .article-card-container .article-card-text-social-container .article-card-social .article-card-social-img img {
              height: 50px;
              width: 50px;
              border-radius: 50px; }
          .app-container .article-card-container .article-card-text-social-container .article-card-social .article-card-social-name-date {
            flex: 1;
            margin-left: 1em;
            height: 100%; }
            .app-container .article-card-container .article-card-text-social-container .article-card-social .article-card-social-name-date #name {
              color: #48556a;
              font-weight: 800; }
            .app-container .article-card-container .article-card-text-social-container .article-card-social .article-card-social-name-date #date {
              color: #9eafc2;
              font-weight: 500; }
          .app-container .article-card-container .article-card-text-social-container .article-card-social .article-card-social-button {
            background: #ecf2f8;
            border-radius: 50px;
            position: relative; }
            .app-container .article-card-container .article-card-text-social-container .article-card-social .article-card-social-button img {
              padding: .75em; }
          .app-container .article-card-container .article-card-text-social-container .article-card-social .article-card-social-desktop-active-box {
            display: none;
            visibility: hidden; }
        .app-container .article-card-container .article-card-text-social-container .article-card-social.active .article-card-social-desktop-active-box {
          display: flex;
          visibility: initial;
          flex-flow: row;
          align-items: center;
          position: absolute;
          bottom: 65px;
          left: -105px;
          background: #48556a;
          padding: .5em 2.5em;
          border-radius: 12px; }
          .app-container .article-card-container .article-card-text-social-container .article-card-social.active .article-card-social-desktop-active-box #share-desktop p {
            color: #a5b1c0;
            letter-spacing: 3px;
            font-weight: 500;
            font-size: 13px; }
          .app-container .article-card-container .article-card-text-social-container .article-card-social.active .article-card-social-desktop-active-box #social-icons-desktop {
            display: flex;
            flex-flow: row;
            justify-content: center;
            align-items: center; }
        .app-container .article-card-container .article-card-text-social-container .article-card-social.active .article-card-social-desktop-active-box:after {
          content: "";
          position: absolute;
          top: 100%;
          left: 40%;
          border-top: 20px solid #48556a;
          border-top-color: #48556a;
          border-left: 20px solid transparent;
          border-right: 20px solid transparent; } }

@media only screen and (min-width: 1px) and (max-width: 900px) {
  p {
    font-size: 13px; }
  .app-container {
    margin: 5em 2em;
    line-height: 1.4em; }
    .app-container .article-card-container {
      background: white;
      border-radius: 8px; }
      .app-container .article-card-container .article-card-image {
        height: 100%;
        width: 100%; }
        .app-container .article-card-container .article-card-image img {
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          height: 180px;
          width: 100%;
          object-fit: cover; }
      .app-container .article-card-container .article-card-text-social-container {
        display: flex;
        flex-flow: column; }
        .app-container .article-card-container .article-card-text-social-container .article-card-text {
          margin-bottom: 1em;
          padding: 1.7em 1.7em 0em 1.7em; }
          .app-container .article-card-container .article-card-text-social-container .article-card-text h4 {
            color: #48556a;
            margin-bottom: .5em; }
          .app-container .article-card-container .article-card-text-social-container .article-card-text p {
            color: #6d7f97;
            font-weight: 500; }
        .app-container .article-card-container .article-card-text-social-container .article-card-social {
          display: flex;
          flex-flow: row;
          align-items: center;
          height: 50px;
          padding: 1em 1.7em 1em 1.7em;
          transition: background-color 1s; }
          .app-container .article-card-container .article-card-text-social-container .article-card-social .article-card-social-img img {
            width: 50px;
            height: 50px;
            border-radius: 50px; }
          .app-container .article-card-container .article-card-text-social-container .article-card-social .article-card-social-active-share {
            display: none;
            visibility: hidden; }
          .app-container .article-card-container .article-card-text-social-container .article-card-social .article-card-social-name-date {
            flex: 1;
            margin-left: 1em; }
            .app-container .article-card-container .article-card-text-social-container .article-card-social .article-card-social-name-date #name {
              font-weight: 800;
              color: #48556a; }
            .app-container .article-card-container .article-card-text-social-container .article-card-social .article-card-social-name-date #date {
              color: #9eafc2; }
          .app-container .article-card-container .article-card-text-social-container .article-card-social .article-card-social-icons {
            display: none;
            visibility: hidden; }
          .app-container .article-card-container .article-card-text-social-container .article-card-social .article-card-social-button {
            background: #ecf2f8;
            border-radius: 50px;
            display: flex;
            flex-flow: row;
            justify-content: center;
            align-items: center; }
            .app-container .article-card-container .article-card-text-social-container .article-card-social .article-card-social-button img {
              padding: .5em; }
            .app-container .article-card-container .article-card-text-social-container .article-card-social .article-card-social-button .article-card-social-desktop-active-box {
              display: none;
              visibility: hidden; }
        .app-container .article-card-container .article-card-text-social-container .article-card-social.active {
          background: #48556a;
          display: flex;
          flex-flow: row;
          justify-content: space-between;
          height: 50px;
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;
          transition: background-color 1s;
          /* Disabled */
          /* End Disabled */ }
          .app-container .article-card-container .article-card-text-social-container .article-card-social.active .article-card-social-img {
            display: none;
            visibility: hidden; }
          .app-container .article-card-container .article-card-text-social-container .article-card-social.active .article-card-social-name-date {
            display: none;
            visibility: hidden; }
          .app-container .article-card-container .article-card-text-social-container .article-card-social.active .article-card-social-active-share {
            display: initial;
            visibility: initial; }
            .app-container .article-card-container .article-card-text-social-container .article-card-social.active .article-card-social-active-share p {
              color: #6d7f97;
              letter-spacing: 5px;
              font-weight: 700; }
          .app-container .article-card-container .article-card-text-social-container .article-card-social.active .article-card-social-icons {
            visibility: initial;
            display: flex;
            flex-flow: row;
            flex: 1;
            margin-left: .5em; }
            .app-container .article-card-container .article-card-text-social-container .article-card-social.active .article-card-social-icons .article-card-social-icon-box {
              display: flex;
              flex-flow: row;
              margin: 0em .5em; }
          .app-container .article-card-container .article-card-text-social-container .article-card-social.active .article-card-social-button {
            background: white; } }
